@CHARSET "UTF-8";

@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
}

body {
	box-sizing: border-box;
	background-color: #eeeeee;
	height: 100%;
	text-align: center;
}

#main_wrapper {
	box-sizing: border-box;
	width: 1000px;
	margin: 5px auto;
	min-height: 99%;
	background-color: white;
	border: 1px solid #999;
}

#inner_wrapper {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

#header {
	box-sizing: border-box;
	height: 70px;
	width: 100%;
	background-color: #eeeeee;
	border-bottom: 1px solid black;
}

#header_title {
	height: inherit;
	float: left;
	padding-left: 35px;
}

#header_title h1 {
	height: inherit;
	display: table-cell;
	vertical-align: middle;
}

#language_selection {
	float: right;
	margin-right: 10px;
	padding-top: 40px
}

#main_content_wrapper {
	
}

#main_content {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	padding-top: 10px;
	padding-bottom: 5px;
	
}

#page_content {
	width: 77%;
	margin-left: 5px;
	border: 1px solid black;
	min-height: 810px;
}

#footer {
	border-top: 1px solid black;
}

#aside {
	box-sizing: border-box;
	margin-left: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
	width: 20%;
	height: 20%;
	background-color: #bbbbbb;
}

#aside_list_title {
	background-color: #777777;
	text-align: center;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
}

#aside_list {
	float: right;
	background-color: white;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 15px;
	width: 80%;
	list-style: none;
}

#aside_list li {
	position: relative;
	text-align: left;
	padding-left: 30px;
}

#aside_list li::before {
	content: "\00a0";
	display: block;
	position: absolute;
	top: 4px;
	left: 7px;
	width: 2px;
	height: 2px;
	border: 5px solid #7c86cb;
	border-radius: 9px;
	top: 4px;
	left: 7px;
}

.news {
	background-color: #ffffff;
	width: 90%;
	margin: 10px auto;
}

.headLink {
	text-align: left;
	padding-top: 10px;
	padding-left: 15px;
}

.news_title {
	box-sizing: border-box;
	width: 80%;
	float: left;
	text-align: left;
	padding: 10px;
	font-weight: bold;
	word-wrap: break-word;
}

.news_date {
	box-sizing: border-box;
	width: 20%;
	float: right;
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	text-decoration: underline;
}

.news_brief {
	box-sizing: border-box;
	clear: both;
	width: 80%;
	padding-left: 10px;
	text-align: left;
	word-wrap: break-word;
}

.news_footer {
	text-align: right;
	padding-right: 10px;
}

.news_footer a {
	text-decoration: none;
}

#addEditNewsSection {
	width: 90%;
	padding-top: 15px;
	margin: 0px auto;
}

#addEditNewsSection p {
	clear: both;
	padding: 5px 0;
}

#addEditNewsSection label {
	width: 20%;
	float: left;
	text-align: left;
}

#addEditNewsSection input {
	float: left;
}

#addEditNewsSection textarea {
	float: left;
	width: 78%;
}

#addEditNewsButtons {
	padding-top: 10px;
	clear: both;
	width: 264px;
	margin: auto;
}

#viewNewsSection {
	width: 90%;
	padding-top: 15px;
	margin: auto;
}

#viewNewsSection p {
	clear: both;
	padding: 5px 0;
}

#viewNewsSection label {
	float: left;
	text-align: left;
	width: 20%;
}

#viewNewsSection .content {
	float: left;
	text-align: left;
	word-wrap: break-word;
	width: 78%;
}

#viewNewsButtons {
	padding-top: 10px;
	width: 280px;
	float: right;
}

#viewNewsButtons form {
	float: left;
	margin-right: 6px;
}

input[type="submit"] {
	width: 120px;
	background: #ddd;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 6px;
	border: 1px solid black;
	border-radius: 3px;
	transition: background 0.5s;
}

input[type="submit"]:hover {
	background: #bbb;
}

input[type="button"] {
	width: 120px;
	background: #ddd;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 6px;
	border: 1px solid black;
	border-radius: 3px;
	transition: background 0.5s;
}

input[type="button"]:hover {
	background: #bbb;
}