<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- CONNECTION PROPERTIES -->

	<bean id="connectionProperties"
		class="com.epam.testapp.database.connection.ConnectionProperties" />

	<!-- CONNECTION POOL -->

	<bean id="connectionPool" class="com.epam.testapp.database.connection.ConnectionPool"
		init-method="initialize" autowire="byName" />

	<!-- CUSTOM DAO -->

	<!-- <bean id="newsDao" class="com.epam.testapp.database.impl.NewsDao" autowire="byName" 
		/> -->

	<!-- JPA -->

	<!-- <bean id="persistenceBean" class="javax.persistence.Persistence" /> 
		<bean id="newsDao" class="com.epam.testapp.database.impl.JpaNewsDao"> <property 
		name="entityManagerFactory"> <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"> 
		<property name="targetObject"> <ref bean="persistenceBean" /> </property> 
		<property name="targetMethod"> <value>createEntityManagerFactory</value> 
		</property> <property name="arguments"> <list> <value>NEWS_PERSISTENCE</value> 
		</list> </property> </bean> </property> </bean> -->

	<!-- HIBERNATE -->

	<bean id="configuration" class="org.hibernate.cfg.Configuration" />

	<bean id="hibernateConfiguration" class="org.hibernate.cfg.Configuration"
		factory-bean="configuration" factory-method="configure" />

	<bean id="newsDao" class="com.epam.testapp.database.impl.HibernateNewsDao">
		<property name="sessionFactory">
			<bean factory-bean="hibernateConfiguration" factory-method="buildSessionFactory" />
		</property>
	</bean>

	<!-- News Service -->

	<bean id="newsService" class="com.epam.testapp.service.NewsServiceImpl"
		autowire="byName" />

	<!-- News Action -->

	<bean id="newsAction"
		name="/List, /Add, /Save, /Delete, /View, /Edit, /ChangeLocale, /Cancel"
		class="com.epam.testapp.presentation.action.NewsAction" autowire="byName" />

	<!-- <context:property-placeholder location="/WEB-INF/database.properties" 
		/> -->

</beans>